<!DOCTYPE html>
<html>
  <head>
    <title>Code4pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/message' %>      

    <main class="indigo lighten-4"> 
        <div class="container">
          <%= yield %>
        </div>
    
    </main>
   
    <%= render partial: 'shared/footer' %> 
       
    <script src="https://kit.fontawesome.com/444a4d875c.js" crossorigin="anonymous"></script>
    <script> $(document).ready(function(){
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
        document.getElementById("current-year").innerHTML = new Date().getFullYear();
      });
    </script>        
  </body>
</html>
